<!-- included "remote:true" bc trying to prevent the form from submitting via rails -->

<div id="form"><%= form_for @link do |f| %>
  <%= f.text_field :title, placeholder: "Name This Link" %><br>
  <%= f.text_area :url, placeholder: "Paste URL here" %><br>
  <br>
  <b>
   Tags:
  <br>
    <%=f.fields_for :tags do |tags_form| %>
        <%= tags_form.label :name %>
        <%= tags_form.text_field :name %>
        <br>
      <%= f.submit class: "btn btn-primary" 
      %>
    <% end %>
  <% end %>
</div>
<br>

<%= link_to "Cancel", links_path %>