<h1> Links Index Page </h1>
<br>

<%= link_to "Add a Link", new_link_path %><br>

<form id="new_link">
<input type="text" id="title" >
<input type="text" id="url" >
<input type="text" id="name" >
<input type="submit" id="name" >
</form>


<ul id="list">
<% @links.each do |link| %>
	<%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link), method: :delete %>  <b><%= link.title %></b> - <%= link_to link.url, link.url %> <br>
<% end %>
</ul>

<script type="text/javascript">


$(document).ready(function() {
    $('#new_link').on('submit', function(e) {
        e.preventDefault();
        var title = $('#title').val();
        var url = $('#url').val();
        var tag = $('#name');
   
        if (!title.length) {
            return;
        } else { // send user input to json
            $.ajax({
                url: '/links',
                method: 'post',
                data: {
                    "link": {
                        "title": title,
                        "url": url,
                        "link_tag_attributes": {
                            "tag_attributes": {
                                "name": name
                            }
                        }
                    }
                },
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    var ul = $('ul')
                    var newLink = $('<li><b>' + data.link.title + ':</b> ' + data.link.url + '</li><br><p>Tags: ' + data.link.link_tag_attributes.tags_attributes.name) + '</p>';
                    newLink.append(+'<span class="delete">delete</span><span class="edit">edit</span>');
                    newLink.hide().appendTo('ul').fadeIn(500);
                }
                //return false;
                // error: function() {
                //     alert("Yo its broke");
                // }
            });
            $('#link_title').val("");
            $('#link_url').val("");
            $('#link_tags_name').val("");
        }
    });
});


    // Function to load all links in database via AJAX get request
    // var loadLinks = function() {
    //     $.ajax("/links", {
    //         type: 'get'
    //     }).success(function(data) {
    //         for (var i in data['links']) {
    //             $('ul').append('<li><b>' + data['links'][i]['title'] + ':</b> ' + data['links'][i]['url'] + '</li>');
    //         }
    //     });
    // }
    // loadLinks();



	

</script>
