<head>
 <h2> Links Index Page </h2>
</head>
<body>

<br>

<form id="new_link">
<input type="text" id="title" placeholder="Title" >
<input type="text" id="url" placeholder="URL">
<input type="text" id="name" placeholder="tag">
<input type="submit"  >
</form>

<br>
Public Links
<ul id="publiclist">
<% @links.each do |link| %>
    <%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link), method: :delete %>  <b><%= link.title %></b> - <%= link_to link.url, link.url %> <br>
<% end %>
</ul>

Private Links
<ul id="privatelist">
<% @linksprivate.each do |link| %>
    <%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link), method: :delete %>  <b><%= link.title %></b> - <%= link_to link.url, link.url %> <br>
<% end %>
</ul>

<script type="text/javascript">


$(document).ready(function() {
    $('#new_link').on('submit', function(e) {
         e.preventDefault();
        var title = $('#title').val();
        var url = $('#url').val();
        var tag = $('#name').val();

   
        if (!title.length) {
            return;
        } else { // send user input to json
            $.ajax({
                url: '/links',
                method: 'post',
                data: {
                    "link": {
                        "title": title,
                        "url": url,
                        "link_tags_attributes": {
                            "0": {
                              "tag_attributes": {
                                "name": tag
                                }
                            }
                        }
                    }
                },
                dataType: "json",
                success: function(data) {
                    console.log(data);
                     var publiclist = $('#publiclist')
                     console.log(data.title);
                     console.log(data.url);
                     var newLink = $('<li><span class="edit">edit</span>' + " " + '<span class="delete">delete </span><b>' + data.title + ' - </b> ' + data.url + ' <b>Tags:</b> ' + data.tags[0].name + '</li>');
                     // var LinkwithButtons = $('<span class="delete">delete</span><span class="edit">edit</span>' + newLink);
                     console.log(newLink);
                     // newLink.prepend('<span class="delete">delete</span><span class="edit">edit</span>' +);
                     // newLink.hide().appendTo('publiclist').fadeIn(500);
                     publiclist.prepend(newLink);
                },
                //return false;
                error: function(data) {
                    console.log(data.responseText);
                    alert("Yo its broke");
                }
            });
            $('#link_title').val("");
            $('#link_url').val("");
            $('#link_tags_name').val("");
        }
    });
});

</script>

