
<div id="greeting"> Welcome To The Linqs App </div>
<div id="all-tags">     <%= link_to "Browse All Tags", tags_path %></div>
<a id="displayText", href="javascript:toggle();">Add a link</a>
<a id="findlink", href="javascript:toggle();">Search For Link</a>
<!-- find link is currently hidden -->


<form id="new_link">
    <input type="text" id="title" placeholder="Title" >
    <input type="text" id="url" placeholder="URL">
    <input type="text" id="name" placeholder="tag">
    <input type="submit"  >
</form>
<form id="find_link">
    <input type="text" id="search_key" placeholder="Search ..">
    <input type="submit">
</form>
<br>
 <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Public Links:</h3>
    </div>
  <div class="panel-body">
   <table class="table table-hover">
    <ul id="publiclist">
        <% @links.each do |link| %> <tr>
       <td> 
           <b><%= link.title %></b> 
           <div class="pull-right">
          <%= link_to "comment", link_comments_path(link)%>
               - <%= link_to "edit", edit_link_path(link)%> - <%= link_to "delete", link_path(link),method: :delete %>
          </div>  
                <a href="<%=link.url%>"><%= @link.url %></a>
                 <br><%= link_to link.url, link.url %> <br> <br>
                Tags: <% link.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag) %>
    
                 <div class=" pull-right">
                       Likes <%= link.upvotes %>
                        <%= link_to "Like", "/links/vote/upvote/#{link.id}", :class => 'btn btn-default' %>
                        Dislikes <%= link.downvotes %>
                        <%= link_to "Dislike", "/links/vote/downvote/#{link.id}", :class => 'btn btn-default' %>
                 </div>
                <% end %><br>
              </tr>
        <% end %>
     </ul>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Private Links:</h3>
  </div>
  <div class="panel-body">
   <table class="table-hover">   
    <ul id="privatelist">
        <% @linksprivate.each do |link| %><tr>
        <%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link), method: :delete %>  <b><%= link.title %></b> - <%= link_to link.url, link.url %> Tagged:
        <% link.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
        <% end %><br>
        <% end %>
    </ul>
  </table>
 </div>
</div>


