<h1> Links Index Page </h1>
<br>

<%= link_to "Add a Link", new_link_path %><br>

<% @links.each do |link| %>
	<%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link), method: :delete %>  <b><%= link.title %></b> - <%= link.url %> <br>
<% end %>

