<head>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	  <div class="navbar-header">
	    <h1 class="navbar-linqs">Linqs</h1>
	  </div>
	<form class="navbar-form navbar-right" role="search">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Search">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
  </div>
 </nav>
</head>
<body>


<h2> Links Index Page </h2>

<br>

<%= link_to "Add a Link", new_link_path %><br>

<% @links.each do |link| %>
	
	<ul class= " links_list"
	  <li>
	<%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link), method: :delete %>  <b><%= link.title %></b> - <%= link.url %>
	</li>
	</ul> 
<% end %>

<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</body>

