
<div id="search"> <%= render 'search' %> </div>
<div id="sort"><%= render 'sort' %></div>


<div id="all-tags"><%= link_to "Browse All Tags", tags_path %> </div>
<div id="displayText"><a href="javascript:toggle();">Add a link</a></div>

<% @links.each do |link| %>
	<%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link), method: :delete %>  <b><%= link.title %></b> - <%= link_to link.url, link.url %> <br>
<% end %>


<!-- find link is currently hidden -->
<form id="new_link">
    <input type="text" id="title" placeholder="Title">
    <input type="text" id="url" placeholder="URL">
    <input type="text" id="name" placeholder="Tags (comma separated)">
    <input type="submit">
    <br>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Public Links: </h3>
  </div>

  <div class="panel-body">
    <table class="table table-hover">
      <ul id="publiclist">
          <% @link_pub.each do |link| %> 
            <tr>
              <td><b><%= link_to link.title, link.url %> </b> 
                <div id="menu"></div> <!-- what is this for? -->
                  <a href="<%=link.url%>"><%= @link.url %></a> <!-- why do we need this, if we have the link_to above? -->
                  Tags: <% link.tags.each do |tag| %>
                    <%= link_to tag.name, tag_path(tag) %>
                  <% end %>
                  <div id="comments">
                    <%= link_to "Comment", new_link_comment_path(link)%> -                
                    <%= link_to "Edit", edit_link_path(link)%> - 
                    <%= link_to "Delete", link_path(link),method: :delete %>
                    <% link.comments.each do |comment| %>
                      <li>
                        <%= comment.content %> 
                        <% if comment.user %>
                      </li>
                        <% else %>
                        <% %>
                        <% end %>
                    <% end %>
                  </div>
                  <div id="likes">
                    Likes 
                      <%= link_to link.upvotes, "/links/vote/upvote/#{link.id}", :class => 'btn btn-default' %>
                    Dislikes 
                      <%= link_to link.downvotes, "/links/vote/downvote/#{link.id}", :class => 'btn btn-default' %>
                  </div>
                  <br>
            </tr>
          <% end %>
      </ul>
    </table>
  </div>
</div>

 <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Private Links:</h3>
    </div>

  <div class="panel-body">
   <table class="table table-hover">
    <ul id="privatelist">
      <% @link_priv.each do |link| %> 
      <tr>
        <td> 
          <b><%= link_to link.title, link.url %> </b> 
          <div id="menu"></div>  
            <a href="<%=link.url%>"><%= @link.url %></a>
            Tags: <% link.tags.each do |tag| %>
              <%= link_to tag.name, tag_path(tag) %>
            <% end %>
            <div id="comments">
              <%= link_to "Comment", new_link_comment_path(link)%> -                
              <%= link_to "Edit", edit_link_path(link)%> - 
              <%= link_to "Delete", link_path(link),method: :delete %>
              <% link.comments.each do |comment| %>
                <li>
                  <%= comment.content %> 
                  <% if comment.user %>
                </li>
                  <% else %>
                    <% %>
                  <% end %>
              <% end %>
            </div>
            <div id="likes">
              Likes 
                <%= link_to link.upvotes, "/links/vote/upvote/#{link.id}", :class => 'btn btn-default' %>
              Dislikes 
                <%= link_to link.downvotes, "/links/vote/downvote/#{link.id}", :class => 'btn btn-default' %>
            </div>
            <br>
          </tr>
        <% end %>
     </ul>
    </table>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#displayText").on("click", function toggle() {
            var ele = document.getElementById("new_link");
            var text = document.getElementById("displayText");
            if (ele.style.display == "block") {
                ele.style.display = "none";
                text.innerHTML = "Add A Link";
            } else {
                ele.style.display = "block";
                text.innerHTML = "Hide Form";
            }
        });
        $('#new_link').on('submit', function (e) {
            e.preventDefault();
            var title = $('#title').val();
            var url = $('#url').val();
            var tag = $('#name').val();

            if (!title.length) {
                return;
            } else { // send user input to json
                $.ajax({
                    url: '/links',
                    method: 'post',
                    data: {
                        "link": {
                            "title": title,
                            "url": url,
                            "link_tags_attributes": {
                                "0": {
                                    "tag_attributes": {
                                        "name": tag
                                    }
                                }
                            }
                        }
                    },
                    dataType: "json",

                    success: function (data) {
                        console.log(data);
                        var publiclist = $('#publiclist')
                        var privatelist = $('#privatelist')
                        console.log(data.title);
                        console.log(data.url);
                       
                        $.each(data.tags, function( index, value ) {
                            value.name 
                        });
                        var newLink = $(' <div id="addlinkjs"><b><a href="' + data.url + '">' + data.title + '</a> </b> <br> Tags: <br><a href="/links/' + data.id + '/comments/new">Comment  </a> - <a href="/links/' + data.id + '/edit">Edit </a> - <a href="/links/' + data.id + '/delete">Delete </a> <br> Likes <a href="/links/vote/upvote/' + data.id + '"><button class="btn btn-small" background-color: white>' + data.upvotes + '<i class="icon-thumbs-up"></i></button></a>Disikes <a href="/links/vote/downvote/' + data.id + '"><button class="btn btn-small">' + data.downvotes + '<i class="icon-thumbs-up"></i> <br></div>')
                          //TO DO: why wont the code work and can we make it so the tags print out in an array

                        // var tags =       $.each(data.tags, function( index, value ) {
                        //     value.name 
                        // });
                        console.log(newLink);
                        if (data.tags[0].name === "private") {
                            privatelist.prepend(newLink)
                        } else {
                            $('.panel-body').prepend(newLink)
                        };
                    },
                    //return false;
                    error: function (data) {
                        console.log(data.responseText);
                        alert("Please input an appropriate Title, URL, and Tag");
                    }
                });
                $('#link_title').val("");
                $('#link_url').val("");
                $('#link_tags_name').val("");
            }
        });
    });
</script>

  
