


<ul> 
    <li> <a href =“#”>Add link</a></li>
    <li> <a href =“#”>Find link</a></li>
<ul>        
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Public Links:</h3>
  </div>
  <div class="panel-body">
    <ul id="publiclist">
        <% @links.each do |link| %>
            <ul class= " links_list">
              <li>
               <%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link),method: :delete %>  <b><%= link.title %></b> - <%= link_to link.url, link.url %> <br> 
               </li>
            </ul> 
        <% end %>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Private Links:</h3>
  </div>
  <div class="panel-body">       
    <ul id="privatelist">
    <% @linksprivate.each do |link| %>
      <%= link_to "edit", edit_link_path(link)%> <%= link_to "delete", link_path(link), method: :delete %>  <b><%= link.title %></b> - <%= link_to link.url, link.url %> <br>
    <% end %>
    </ul>
 </div>
</div>
<script type="text/javascript">


$(document).ready(function() {
    $('#new_link').on('submit', function(e) {
         e.preventDefault();
        var title = $('#title').val();
        var url = $('#url').val();
        var tag = $('#name').val();

   
        if (!title.length) {
            return;
        } else { // send user input to json
            $.ajax({
                url: '/links',
                method: 'post',
                data: {
                    "link": {
                        "title": title,
                        "url": url,
                        "link_tags_attributes": {
                            "0": {
                              "tag_attributes": {
                                "name": tag
                                }
                            }
                        }
                    }
                },
                dataType: "json",
                success: function(data) {
                    console.log(data);
                     var publiclist = $('#publiclist')
                     console.log(data.title);
                     console.log(data.url);
                     var newLink = $('<li><b>' + data.title + ':</b> ' + data.url + '</li><br><p>Tags: ' + data.tags[0].name + '</p>');
                     alert(newLink.inspect);
                     newLink.append(+'<span class="delete">delete</span><span class="edit">edit</span>');
                     newLink.hide().appendTo('publiclist').fadeIn(500);
                },
                //return false;
                error: function(data) {
                    console.log(data.responseText);
                    alert("Yo its broke");
                }
            });
            $('#link_title').val("");
            $('#link_url').val("");
            $('#link_tags_name').val("");
        }
    });
 //  var search = document.getElementById("search");
 // var data = [];

 // search.onclick = function() {
 //    var formInput = document.getElementById("formInput").value;

 //    for (i=0; i<data.length; i++){
 //       if (data[i] == formInput) {
 //          alert(data[i]);
 //       } else {
 //          alert("not working yet");
 //       }
 //    }
 };
});

</script>

