<h1> All Links Tagged With "<%= @tag.name %>"</h1>

<p><%= link_to "Home", links_path, :class => "btn btn-primary" %></p>
<% @tag.links.each do |link| %>
	<b><%= link.title.capitalize %>:</b>	<%= link_to link.url, link.url %><br>
<% end %>



<<<<<<< HEAD
=======
<%= link_to "Back", links_path %>
Links gO hErE wooo
>>>>>>> 48290b8528a11f42af859fd758027a4bd5243175

