<h1> All Links Tagged With "<%= @tag.name %>"</h1>

<p><%= link_to "Home", links_path, :class => "btn btn-primary" %></p>
<% @tag.links.each do |link| %>
	<b><%= link.title.capitalize %>:</b>	<%= link_to link.url, link.url %><br>
<% end %>

<%= link_to "Back", links_path %>


