<h1> All Links Tagged With "<%= @tag.name %>"</h1>

<%= link_to "edit", edit_tag_path(@tag)%> <%= link_to "delete", tag_path(@tag), method: :delete %>

<h3>Links:</h3>
<% @tag.links.each do |link| %>
	<b><%= link.title.capitalize %>:</b>	<%= link_to link.url, link.url %>
<% end %>

<p><%= link_to "Back to the home page", links_path %></p>


