<!DOCTYPE html>
<html>
  <head>
      <title>Linqs</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  
  <div id= "header-container", class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class= "navbar_header">
         <a class="logo" href="#">Linqs</a>
         <li>
          <p class="navbar-text pull-right">
         
      <!-- This html code allows you to sign -->
      
          <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
      </div> 
       <ul class="nav nav-tabs">
          <li><a href="/links">Home</a></li>
          <li><a href="#">about</a></li>
      </ul>
    </nav>        
  </div>
  
</head>
<body>

  <%= yield %>
   
</body>
</html>
